/* Condensed font for active pairs */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap');
/* Main interface font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
/* Logo/'Brand' Identity font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');

/* General section */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

html {
  font-family: Ubuntu, Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

/* Color variables */
body {
  --headBgColor: #12161c;
  --bgColor: #1e2026;
  --bgColorAlt: #14151a;
  --fgColor: #ffffff;
  --green: #02c076;
  --red: #f84960;
  --yel: #f0b90b;
  --yelAlt: #f8d12f;
  background-color: var(--bgColorAlt);
  color: var(--fgColor);
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
}

/* Needed for proper Footer */
#root {
  min-height: inherit;
  min-width: inherit;
  height: inherit;
  width: inherit;
}

/* Footer is made by making outer .App
a flexbox, setting .main (Header/Top/Bot)
to grow and Footer to shrink */
.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

/* Header section */
.header {
  height: 3.5rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: var(--yel);
  background-color: var(--headBgColor);
  box-shadow: 0px 3px 3px 1px #000000;
  font-family: 'Red Hat Display', Ubuntu, Dosis, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Reverses the paragraph
(i.e. from 'rypto' to 'otpyr') */
#header-left {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.header img {
  height: 3rem;
  width: 3rem;
}

/* Top section (add/remove pair interface) */
.top {
  border: 6px solid var(--bgColorAlt);
  border-left-width: 12px;
  border-right-width: 12px;
  margin-top: 12px;
  background-color: var(--bgColor);
  max-width: 45rem;
  width: 100%;
  padding: 2rem;
}

.top .top-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.top .top-div h2 {
  margin: 0.5rem;
  width: 10rem;
  text-align: right;
  margin-top: 18px;
}

.top .add-pair,
.top .remove-pair {
  flex-grow: 1;
}

.top .add-pair form {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 1.5rem;
}

.top form .add-pair-lists {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0px 0px 0.5rem;
}

.top form .add-pair-lists .list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  width: 48%;
}

.top form .add-pair-lists span {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.25rem;
}

.top form button {
  width: 10rem;
  height: 2rem;
  margin: auto;
  background-color: var(--yel);
  color: var(--bgColor);
  border: 2px solid var(--bgColor);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.top form input {
  background-color: var(--fgColor);
  color: var(--bgColor);
  border: 2px solid var(--bgColor);
  border-radius: 5px;
  height: 1.5rem;
  width: 100%;
  padding: 0px 0.5rem;
  text-align: center;
}

.top form input:focus:invalid {
  border: 2px solid var(--red);
}

.top form input:focus:valid {
  border: 2px solid var(--green);
}

.top form button:hover {
  background-color: var(--yelAlt);
}

.top form button:focus {
  border: 2px solid var(--fgColor);
}

.top .remove-pair form {
  display: flex;
  flex-flow: column wrap;
}

.top .remove-pair form .remove-pair-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

/* Bot section (active pairs) */
.bot {
  background-color: var(--bgColorAlt);
  max-width: 45rem;
  width: 100%;
  font-family: Dosis, Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bot .pair-box {
  border: 12px solid var(--bgColorAlt);
  border-top-width: 6px;
  border-bottom-width: 0px;
  background-color: var(--bgColor);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* Square corners */
.bot .pair-box .corners {
  height: inherit;
  width: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 5px;
}

.bot .pair-box .corners.left {
  padding-right: 0px;
}

.bot .pair-box .corners.right {
  padding-left: 0px;
}

.bot .pair-box span {
  width: 5px;
  height: 5px;
}

.bot .pair-box .left-top-corner,
.bot .pair-box .right-top-corner {
  border-top: 1px solid var(--fgColor);
}

.bot .pair-box .left-bot-corner,
.bot .pair-box .right-bot-corner {
  border-bottom: 1px solid var(--fgColor);
}

.bot .pair-box .left-top-corner,
.bot .pair-box .left-bot-corner {
  border-left: 1px solid var(--fgColor);
}

.bot .pair-box .right-top-corner,
.bot .pair-box .right-bot-corner {
  border-right: 1px solid var(--fgColor);
}

.bot .pair-content {
  padding: 1.5rem 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.bot .pair-content::before,
.bot .pair-content::after {
  content: '';
  width: 100%;
}

.bot .pair-content p {
  font-size: 1.5rem;
  padding: 0px 1.5rem;
  color: var(--fgColor);
  max-width: 20rem;
  width: 100%;
  text-align: center;
}

.bot .pair-content .percent {
  color: var(--fgColor);
}

.bot .pair-content .percent.red {
  color: var(--red);
}

.bot .pair-content .percent.green {
  color: var(--green);
}

/* Modal */
.modal-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  z-index: 10000;
}

.modal-bg::before {
  content: '';
  position: inherit;
  width: inherit;
  height: inherit;
  top: inherit;
  left: inherit;
  background-color: var(--bgColorAlt);
  filter: opacity(0.75);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4rem;
  height: 4rem;
  margin-left: -2rem;
  margin-top: -2rem;
  background-color: var(--yel);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

svg {
  height: 48px;
  width: 48px;
  stroke: var(--bgColor);
  stroke-width: 2px;
  stroke-linecap: round;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Footer section (copyright/GitHub link) */
footer {
  width: 100%;
  border-top: 2px solid #999999;
  color: #999999;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
  justify-content: center;
  align-content: center;
  margin-top: 12px;
}

footer p {
  padding: 0.25rem 0.5rem;
}

footer a {
  color: inherit;
  text-decoration: underline solid var(--fgColor) 1px;
}

footer a:hover {
  color: var(--yelAlt);
  text-decoration: underline solid var(--yelAlt) 1px;
}

/* Media queries */
@media screen and (max-width: 665px) {
  .top .top-div h2 {
    width: 100%;
  }
}

@media screen and (max-width: 490px) {
  .top form .add-pair-lists span {
    visibility: hidden;
    overflow: hidden;
    width: 0px;
    height: 0px;
  }

  .top form .add-pair-lists .list {
    width: 100%;
  }

  .top form div,
  input {
    width: 100%;
  }
}
